.box{
  position: relative;
  background: linear-gradient(
    -45deg,
    #fff 25%, #fbc6cc 25%,
    #fbc6cc 50%, #fff 50%,
    #fff 75%, #fbc6cc 75%,
    #d8e0ff
  );
  background-size: 8px 8px;
  padding: 8px;
}
.idol-box{
  background: #FF00DF
}

.icon{
  text-align: right;
}
.my-skyblue {color: skyblue}

.box19 {
    position: relative;
    padding:0.25em 1em;
}
.box19:before,.box19:after{
    content:'';
    width: 20px;
    height: 30px;
    position: absolute;
    display: inline-block;
}
.box19:before{
    border-left: solid 1px #5767bf;
    border-top: solid 1px #5767bf;
    top:0;
    left: 0;
}
.box19:after{
    border-right: solid 1px #5767bf;
    border-bottom: solid 1px #5767bf;
    bottom:0;
    right: 0;
}
.box19 p {
    margin: 0;
    padding: 0;
}

.box18{
    margin:2em 0;
    position: relative;
    padding: 0.25em 1em;
    border: solid 2px #ffcb8a;
    border-radius: 3px 0 3px 0;
}
.box18:before,.box18:after
{
    content: '';
    position: absolute;
    width:10px;
    height: 10px;
    border: solid 2px #ffcb8a;
    border-radius: 50%;
}
.box18:after {
    top:-12px;
    left:-12px;
}
.box18:before {
    bottom:-12px;
    right:-12px;
}
.box18 p {
    margin: 0;
    padding: 0;
}
