@*
* This file is part of the Nextbeat services.
*
* For the full copyright and license information,
* please view the LICENSE file that was distributed with this source code.
*@
@import views.html.helper
@import model.site.facility.SiteViewValueFacilityList
@import play.api.data.Form

@import persistence.facility.model.FacilitySearch
@(vv: SiteViewValueFacilityList)(implicit messages: play.api.i18n.Messages)

@** 施設検索一覧 *@
@views.html.common.layout.InnerContent("site-app-new-user-form", "content") {
@** --[ 見出し ]---------------------------------------------------------- *@
<h5 class="content__section header">
    アイドル一覧
</h5>

@** --[ 一覧 ]-------------------------------------------------------- *@

<div class="container">
    <!-- 検索結果 -->
    <div class="col-md-6-lg-6">
        <div class="col">
            @for(facility <- vv.facilities) {
            <div class="col-xs-3">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <img src="assets/images/site/idol.list/01.jpg" class="img-rounded img-responsive">
                    </div>
                    <div class="panel-body">
                        <p class="text-center text-muted">@facility.address</p>
                    </div>
                    <div class="panel-footer">
                        <p class="text-center">@facility.name</p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    <!-- 注目のアイドル -->
    <div class="col-md-6-lg-6">
        <div class="col">
            @for(facility <- vv.facilities) {
            <div class="col-xs-3">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <img src="assets/images/site/idol.list/01.jpg" class="img-rounded img-responsive">
                    </div>
                    <div class="panel-body">
                        <p class="text-center text-muted">@facility.address</p>
                    </div>
                    <div class="panel-footer">
                        <p class="text-center">@facility.name</p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
}
